// =============================================================================
// CHECKOUT CUSTOM HEADER (Component)
// =============================================================================

.customHeader {
  //background-color: container('fill', 'dark');
  border-bottom: container('border');
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 32px;
  background-color: #EEF3FF;

  //@include breakpoint('small') {
  //  min-height: remCalc(120px);
  //}
  //
  //@include breakpoint('medium') {
  //  text-align: left;
  //}
}

.customHeaderWrapper {
  display: flex;
  max-width: 88rem;
  width: 100%;
}

.mainLogo {
  //width: 172px;
  //height:92px;
}

.customHeaderHeading {
  @include headingStyle('h1');

  //font-size: 42px !important;
  color: inherit;
  font-weight: bold;
  margin-bottom: 0;
  word-wrap: break-word;
}
